{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novin choob kavir</title>
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}" />
    {%block extra_headers %} {% endblock %}
  </head>
  <body>
    {% include "inc/navbar.html" %}
    <div class="jumbotron">
      {% include "inc/messages.html" %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
